.hour-main  {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #808080;
    justify-content: space-between;
    border-style: solid none solid none;
}

.hour-img {
    width: 60px;
}

.hour-text {
    width: 30%;
    margin: auto 0% auto 0%;
}


.hour-temp {
  margin: auto 0% auto 0% ;
  padding-left: 5%;
}