.backgroundcolor-1 {
    background: linear-gradient( #e2c373, #fb8500);
}.backgroundcolor-2 {
    background: linear-gradient( #2f3e46, #edede9);
}
.backgroundcolor-3 {
    background: linear-gradient( #2f3e46, #9c9c95);
}
.backgroundcolor-4 {
    background: linear-gradient(#9c9c95, #2f3e46 );
}
.backgroundcolor-5 {
    background: linear-gradient( #a3a3a3, #a3a3a3);
}
.backgroundcolor-6 {
    background: linear-gradient( #626d72, #aaa7ad);
}
.backgroundcolor-7 {
    background: linear-gradient( #626d72, #aaa7ad);
}
.backgroundcolor-8 {
    background: linear-gradient( #626d72, #aaa7ad);
}
.backgroundcolor-9 {
    background: linear-gradient( #626d72, #aaa7ad);
}
.backgroundcolor-10 {
    background: linear-gradient( #f3ba6b, #676668);
}.backgroundcolor-11 {
    background: linear-gradient( #00b4d8, #caf0f8);
}
.backgroundcolor-12 {
    background: linear-gradient( #fffcf2, #caf0f8);
}

.backgroundcolor-13 {
    background: linear-gradient( #adb5bd, #dee2e6);
}
.backgroundcolor-13 {
    background: linear-gradient( #adb5bd, #dee2e6);
}.backgroundcolor-14 {
    background: linear-gradient( #626d72, #aaa7ad);
}

.backgroundcolor-15 {
    background: linear-gradient( #626d72, #aaa7ad);
}
.backgroundcolor-16 {
    background: linear-gradient(#5fa8d3, #62b6cb );
}

.backgroundcolor-17 {
    background: linear-gradient(#5fa8d3, #62b6cb );
}

.backgroundcolor-18 {
    background: linear-gradient(#5fa8d3, #62b6cb );
}
.backgroundcolor-19 {
    background: linear-gradient( #adb5bd, #dee2e6);
}
.backgroundcolor-20 {
    background: linear-gradient(#cae9ff, #e8e8e4 );
}
.backgroundcolor-21 {
    background: linear-gradient(#cae9ff, #e8e8e4 );
}
.backgroundcolor-22 {
    background: linear-gradient(#cae9ff, #e8e8e4 );
}
.backgroundcolor-23 {
    background: linear-gradient(#6c757d, #62b6cb );
}

.backgroundcolor-24 {
    background: linear-gradient(#6c757d, #62b6cb );
}

.backgroundcolor-25 {
    background: linear-gradient(#1b4965, #adb5bd);
}

.backgroundcolor-26 {
    background: linear-gradient(#118ab2, #ced4da);
}

.backgroundcolor-27 {
    background: linear-gradient(#ccc5b9, #fffcf2);
}

.backgroundcolor-28 {
    background: linear-gradient(#ccc5b9, #f2e9e4);
}

.backgroundcolor-29 {
    background: linear-gradient(#949493, #f0d9cd);
}

.backgroundcolor-30 {
    background: linear-gradient(#d9d9d9, #ffffff);
}

.backgroundcolor-31 {
    background: linear-gradient(#bcb8b1, #f6fff8);
}

.backgroundcolor-32 {
    background: linear-gradient(#f4f3ee, #82c0cc);
}

.backgroundcolor-33 {
    background: linear-gradient(#7bdff2, #b2f7ef);
}

.backgroundcolor-34 {
    background: linear-gradient(#294c60, #adb6c4);
}

.backgroundcolor-35 {
    background: linear-gradient(#62929e, #fdfdff);
}

.backgroundcolor-36 {
    background: linear-gradient(#62929e, #838399)
}

.backgroundcolor-37 {
    background: linear-gradient(#62929e, #838399)
}

.backgroundcolor-38 {
    background: linear-gradient(#546a7b, #fdfdff);
}

.backgroundcolor-39 {
    background: linear-gradient(#065a82, #9eb3c2);
}

.backgroundcolor-40 {
    background: linear-gradient(#065a82, #9eb3c2);
}

.backgroundcolor-41 {
    background: linear-gradient(#004e64, #fdf7fa);
}

.backgroundcolor-42 {
    background: linear-gradient(#dfb781, #4ba3c3);
}

.backgroundcolor-43 {
    background: linear-gradient(#dfb781, #323e42);
}

.backgroundcolor-44 {
    background: linear-gradient(#f3dfa2, #9cafb7);
}

.backgroundcolor-45 {
    background: linear-gradient( #62929e, #fdfdff);
}

.backgroundcolor-46 {
    background: linear-gradient( #62929e, #fdfdff);
}


